<%- include('../../partials/head', { title: "Aumente seus leads com o MyPost" }) %>

	<body class="fade-in">
		<%- include('../../partials/main/nav') %>

			<section id="home" class="fade-in mt-[90px]">
				<div class="overflow-hidden bg-[#ECF4FC] py-12 sm:py-20 px-[32px] md:px-[64px] flex flex-row justify-center items-center">
					
								<!-- CODDING: Conteudo -->
								<div class=" w-[100%] lg:w-[50%] flex flex-col justify-center items-start space-y-[32px]">
									
									<div class="flex flex-col items-start justify-center">
										<p class="mt-8 text-4xl text-black font-black">Agende Suas Postagens Em Grupos Do Facebook</p>
										<p class=" text-2xl leading-8 color-pink text-[#82868D] made-tommy font-normal text-shadow">Gerencie todas as suas publicações de grupos de forma eficiente e sem complicações</p>
									</div>

									
									<div class="w-auto h-auto space-x-[10px] flex flex-row justify-start items-center bg-[#F8F9FD] px-[16px] py-[16px] rounded-[10px] shadow-[0_7px_29px_0_rgba(100,100,111,0.2)] ">
										<div class="min-h-[50px] min-w-[50px] rounded-[10px] bg-primary shadow-[0_3px_8px_rgba(0,0,0,0.24)] flex justify-center items-center">
											<i class="fa-regular fa-clock text-base text-white"></i>
										</div>
										<div class="w-full h-[50px] flex flex-col justify-center items-start">
											<p class="text-base/none md:text-lg/none font-bold text-[#6C7180]">Programe seus posts</p> 
											<p class="text-base md:text-lg font-light text-gray-500">Programe todas as suas publicações na plataforma.</p>
										</div>	
									</div>
									
								</div>

								<!-- CODDING: Imagem -->
								<div class=" hidden lg:flex w-[50%]">
									<img src="img/landingpage/undraw_dashboard.svg" alt="">
								</div>
						
						
						
					
				</div>
			</section>

			<section id="platform" class="fade-in bg-[#ECF4FC] px-[32px] md:px-[64px] py-12 sm:py-28 ">
				<div class=" mx-auto max-w-4xl lg:text-center  flex flex-col justify-center items-start md:items-center">
					<p class="mt-2 text-3xl text-black sm:text-4xl font-black text-shadow">Publique Quantos Posts Quiser!</p>
					<p class="mt-4 text-1xl leading-8 text-gray-500 made-tommy">Realize publicações nos seus grupos do Facebook e Gerencie todos as suas postagens em uma única plataforma.</p>
				</div>

				<div class="grid grid-cols-1 md:grid-cols-2 gap-[10px] mt-8">

					<div class="col-span-1 mx-[10px] p-8 bg-transparent rounded-[10px] ">
						<div class="flex flex-wrap justify-start items-center -m-4">
							
							<div class="bg-primary min-w-[50px] max-w-[50px] min-h-[50px] max-h-[50px] rounded-[10px] flex justify-center items-center shadow-[0_7px_29px_0_rgba(100,100,111,0.2)] rounded-10px ">
								<i class="fa-solid fa-eye text-white text-base"></i>
							</div>
							

							<div class="flex-1 ml-5">
								<div class="">
									<h3 class="text-lg/none font-black text-[#6C7180]">Acompanhe todo o processo</h3>
									<p class="text-gray-500 text-base font-light">Visualize em tempo real todos os processos na
										plataforma.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-span-1 mx-[10px] p-8 bg-white rounded-[10px] shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
						<div class="flex flex-wrap justify-start items-center -m-4">
							<div class="bg-primary min-w-[50px] max-w-[50px] min-h-[50px] max-h-[50px] rounded-[10px] flex justify-center items-center shadow-[0_3px_8px_rgba(0,0,0,0.24)] rounded-10px ">
								<i class="fa-solid fa-user-group text-white text-base"></i>
							</div>


							<div class="flex-1 ml-5">
								<div class="">
									<h3 class="text-lg/none font-bold text-[#6C7180]">Importe suas contas</h3>
									<p class="text-gray-500 text-base font-light">Você pode importar diferentes perfis para a
										plataforma.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-span-1 mx-[10px] p-8 bg-transparent md:bg-white rounded-[10px] md:shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
						<div class="flex flex-wrap justify-start items-center -m-4">
							<div class="bg-primary min-w-[50px] max-w-[50px] min-h-[50px] max-h-[50px] rounded-[10px] flex justify-center items-center shadow-[0_3px_8px_rgba(0,0,0,0.24)] rounded-10px ">
								<i class="fa-solid fa-layer-group text-white text-base"></i>
							</div>


							<div class="flex-1 ml-5">
								<div class="group">
									<h3 class="font-bold text-[#6C7180] text-lg/none">Importe Seus Grupos</h3>
									<p class="text-gray-500 text-lg font-light">Integre os grupos da sua conta de forma simples e rápida.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-span-1 mx-[10px] p-8 bg-white md:bg-transparent rounded-[10px] shadow-[0_7px_29px_0_rgba(100,100,111,0.2)] md:shadow-none">
						<div class="flex flex-wrap justify-start items-center -m-4">
							
							<div class="bg-primary min-w-[50px] max-w-[50px] min-h-[50px] max-h-[50px] rounded-[10px] flex justify-center items-center shadow-[0_7px_29px_0_rgba(100,100,111,0.2)] rounded-10px ">
								<i class="fa-regular fa-clock text-white text-base"></i>
							</div>
							

							<div class="flex-1 ml-5">
								<div class="">
									<h3 class="font-bold text-[#6C7180] text-lg/none">Agende Suas Postagens</h3>
									<p class="text-gray-500 text-lg font-light">Gerencie suas publicações de maneira eficiente e sem complicações.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section id="testimonials" class="fade-in">
				<div class="bg-primary py-12 sm:py-24 border-top-purple">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
						<div class="mx-auto text-center">
							<p class="text-3xl sm:text-4xl font-black text-white text-shadow">Depoimentos Dos Clientes</p>
							<h2 class="mt-2 text-base font-semibold text-gray-200">Estamos ganhando cada vez mais
								clientes com a nossa solução!</h2>
						</div>
						<div class="mx-auto mt-8 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
							<ul role="list" class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
								<li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow-lg">
									<figure class="rounded-xl bg-gray-50 p-8 text-sm">
										<div class="flex gap-x-1 color-purple">
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
										</div>
										<blockquote class="text-gray-900 mt-5">
											<p class="made-tommy text-base">“O postador me ajudou demais a gerenciar meu
												tempo com as publicações. obrigada por essa plataforma!”</p>
										</blockquote>
										<figcaption class="mt-6 flex items-center gap-x-4">
											<div>
												<div class="font-semibold made-tommy text-primary">Vanessa Arruda</div>
												<div class="text-gray-600 made-tommy">@santos.arruda</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow-lg">
									<figure class="rounded-xl bg-gray-50 p-8 text-sm">
										<div class="flex gap-x-1 color-purple">
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
										</div>
										<blockquote class="text-gray-900 mt-5">
											<p class="made-tommy text-base">“o postador é uma ferramenta incrível, com um
												potencial enorme! Você gerencia tudo em um só lugar com a plataforma.”
											</p>
										</blockquote>
										<figcaption class="mt-6 flex items-center gap-x-4">
											<div>
												<div class="font-semibold text-primary made-tommy">Rafael
													Soares</div>
												<div class="text-gray-600 made-tommy">@rafa.soares</div>
											</div>
										</figcaption>
									</figure>
								</li>

								<li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow-lg">
									<figure class="rounded-xl bg-gray-50 p-8 text-sm">
										<div class="flex gap-x-1 color-purple ">
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
											<svg class="h-6 w-6 flex-none" viewBox="0 0 20 20" fill="#fe6200"
												aria-hidden="true">
												<path fill-rule="evenodd"
													d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
													clip-rule="evenodd" />
											</svg>
										</div>
										<blockquote class="text-gray-900 mt-5">
											<p class="made-tommy text-base">“Desde que eu comecei a utilizar, tudo ficou
												mais fácil.”</p>
										</blockquote>
										<figcaption class="mt-6 flex items-center gap-x-4">
											<div>
												<div class="font-semibold text-primary made-tommy color-purple">Tiago
													Sanches</div>
												<div class="text-gray-600 made-tommy">@tiago.sh</div>
											</div>
										</figcaption>
									</figure>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section id="plans" class="fade-in">
				<div class="bg-gray-100 py-12 sm:py-24">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
						<div class="mx-auto text-center">
							<h2
								class="mt-2 text-4xl font-black  text-black  color-purple">
								Descubra Os Benefícios Da Nossa Plataforma.</h2>
						</div>

						<p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600 made-tommy">Todos
							os nossos planos possuem garantia de 7 dias, para você testar o máximo a plataforma.</p>

						<div
							class="isolate mx-auto mt-14 grid max-w-md grid-cols-1 gap-8 lg:mx-0 lg:max-w-none sm:grid-cols-2 lg:grid-cols-3">
							<% plans.forEach(plan=> { %>
								<% if (!plan.marked) { %>
									<div class="rounded-xl p-8 xl:p-10 border border-primary made-tommy">
										<div class="flex items-center justify-between gap-x-4">
											<h3 id="tier-freelancer"
												class="text-xl font-semibold leading-8 text-primary">
												<%= plan.title %>
											</h3>
										</div>

										<p class="mt-4 text-md leading-6 text-gray-600">
											<%= plan.description %>
										</p>
										<p class="mt-6 flex items-baseline gap-x-1">
											<span class="text-4xl font-bold tracking-tight text-gray-900">R$<%=
													plan.valueMonth %></span>
											<span class="text-sm font-semibold leading-6 text-gray-600">/mês</span>
										</p>

										<a href=""
											aria-describedby="tier-freelancer"
											class="mt-6 block rounded-lg py-2 px-3 text-center text-sm font-medium leading-6 text-white  bg-primary mt-8">Adquirir
											plano</a>

										<ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 xl:mt-10">
											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Publique no Facebook
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Importe até <%= plan.quantityAccounts %> perfis
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Importe até <%= plan.quantityGroups %> grupos
											</li>

											

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Agende até <%= plan.quantitySchedule %> publicações simultaneamente
											</li>

											

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Crie até <%= plan.quantitySets %> conjuntos para grupos 
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="#000000"
													aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												7 dias de garantia
											</li>
										</ul>
									</div>
								<% } else { %>
									<div class="rounded-xl p-8 xl:p-10 border border-primary bg-primary made-tommy">
										<div class="flex items-center justify-between gap-x-4">
											<h3 id="tier-startup"
												class="text-xl font-semibold leading-8 text-white">
												<%= plan.title %>
											</h3>
											<p style="background-color: #ffffff42;"
												class="rounded-full px-2.5 py-1 text-xs font-medium leading-5 text-white">
												Mais popular</p>
										</div>
										<p class="mt-4 text-md leading-6 text-white">
											<%= plan.description %>
										</p>
										<p class="mt-6 flex items-baseline gap-x-1">
											<span class="text-4xl font-bold tracking-tight text-white">R$<%=
													plan.valueMonth %></span>
											<span class="text-sm font-semibold leading-6 text-white">/mês</span>
										</p>

										<a href=""
											aria-describedby="tier-startup"
											class="mt-6 block rounded-lg py-2 px-3 text-center text-sm font-medium leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border-2 border-white bg-transparent text-white shadow-sm">Adquirir
											plano</a>

										<ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-white xl:mt-10">
											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Publique no Facebook
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Importe até <%= plan.quantityAccounts %> perfis
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Importe até <%= plan.quantityGroups %> grupos
											</li>

											

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Agende até <%= plan.quantitySchedule %> publicações simultaneamente
											</li>

											
											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												Crie até <%= plan.quantitySets %> conjuntos para grupos e páginas
											</li>

											<li class="flex gap-x-3">
												<svg class="h-6 w-5 flex-none text-white" viewBox="0 0 20 20"
													fill="#fff" aria-hidden="true">
													<path fill-rule="evenodd"
														d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
														clip-rule="evenodd" />
												</svg>
												7 dias de garantia
											</li>
										</ul>
									</div>
								<% } %>
							<% }) %>
						</div>
					</div>
				</div>
			</section>

			<%- include('../../partials/main/footer') %>
	</body>

	</html>