<%- include('../../partials/head', {title: "Publicações" }) %>

<body class="bg-gray-100">
  <%- include('../../partials/app/sidebar') %>

  <div class="xl:ml-64 pb-14">
    <%- include('../../partials/app/nav', {user: user, title: "Todas as publicações"}) %>

    <main class="px-8 py-4 fade-in">
      <div class="z-50 fixed top-0 left-0 right-0 bottom-0 flex items-center w-full h-full p-4 bg-gray-800 bg-opacity-80 overflow-y-auto hidden" id="popup-delete-post">
        <div class="container px-4 mx-auto">
          <div class="py-10 px-6 text-center max-w-lg mx-auto bg-white border rounded-xl shadow-3xl">
            <svg class="mb-4 mx-auto" width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.9141 8.2201C22.9436 7.80694 22.6326 7.44808 22.2195 7.41857C21.8063 7.38906 21.4474 7.70007 21.4179 8.11323L22.9141 8.2201ZM21.1541 22.3329L20.406 22.2795L21.1541 22.3329ZM6.84456 22.3329L7.59265 22.2795L6.84456 22.3329ZM6.58078 8.11323C6.55126 7.70007 6.19241 7.38906 5.77925 7.41857C5.36609 7.44808 5.05508 7.80694 5.08459 8.2201L6.58078 8.11323ZM12.416 12.8333C12.416 12.4191 12.0802 12.0833 11.666 12.0833C11.2518 12.0833 10.916 12.4191 10.916 12.8333H12.416ZM10.916 19.8333C10.916 20.2475 11.2518 20.5833 11.666 20.5833C12.0802 20.5833 12.416 20.2475 12.416 19.8333H10.916ZM17.0827 12.8333C17.0827 12.4191 16.7469 12.0833 16.3327 12.0833C15.9185 12.0833 15.5827 12.4191 15.5827 12.8333H17.0827ZM15.5827 19.8333C15.5827 20.2475 15.9185 20.5833 16.3327 20.5833C16.7469 20.5833 17.0827 20.2475 17.0827 19.8333H15.5827ZM16.7493 8.16667C16.7493 8.58088 17.0851 8.91667 17.4993 8.91667C17.9136 8.91667 18.2493 8.58088 18.2493 8.16667H16.7493ZM9.74935 8.16667C9.74935 8.58088 10.0851 8.91667 10.4993 8.91667C10.9136 8.91667 11.2493 8.58088 11.2493 8.16667H9.74935ZM4.66602 7.41667C4.2518 7.41667 3.91602 7.75245 3.91602 8.16667C3.91602 8.58088 4.2518 8.91667 4.66602 8.91667V7.41667ZM23.3327 8.91667C23.7469 8.91667 24.0827 8.58088 24.0827 8.16667C24.0827 7.75245 23.7469 7.41667 23.3327 7.41667V8.91667ZM21.4179 8.11323L20.406 22.2795L21.9022 22.3863L22.9141 8.2201L21.4179 8.11323ZM18.8267 23.75H9.17196V25.25H18.8267V23.75ZM7.59265 22.2795L6.58078 8.11323L5.08459 8.2201L6.09646 22.3863L7.59265 22.2795ZM9.17196 23.75C8.34128 23.75 7.65183 23.108 7.59265 22.2795L6.09646 22.3863C6.21171 23.9999 7.55432 25.25 9.17196 25.25V23.75ZM20.406 22.2795C20.3469 23.108 19.6574 23.75 18.8267 23.75V25.25C20.4444 25.25 21.787 23.9999 21.9022 22.3863L20.406 22.2795ZM10.916 12.8333V19.8333H12.416V12.8333H10.916ZM15.5827 12.8333V19.8333H17.0827V12.8333H15.5827ZM11.666 4.25H16.3327V2.75H11.666V4.25ZM16.7493 4.66667V8.16667H18.2493V4.66667H16.7493ZM11.2493 8.16667V4.66667H9.74935V8.16667H11.2493ZM16.3327 4.25C16.5628 4.25 16.7493 4.43655 16.7493 4.66667H18.2493C18.2493 3.60812 17.3912 2.75 16.3327 2.75V4.25ZM11.666 2.75C10.6075 2.75 9.74935 3.60812 9.74935 4.66667H11.2493C11.2493 4.43655 11.4359 4.25 11.666 4.25V2.75ZM4.66602 8.91667H23.3327V7.41667H4.66602V8.91667Z" fill="#7F8995"></path>
            </svg>
            <h3 class="font-heading mb-2 text-xl font-semibold">Excluir publicação?</h3>
            <p class="mb-6 text-neutral-500">Todos os dados vinculados à publicação serão removidos.</p>
            <div class="flex flex-wrap justify-center -m-1">
              <div class="w-auto p-1">
                <button onclick="closeDeletePost()" class="inline-flex px-5 py-2.5 text-sm font-medium border border-neutral-200 hover:border-neutral-300 rounded-lg">Cancelar</button>
              </div>

              <div class="w-auto p-1">
                <button onclick="deletePost()" class="inline-flex px-5 py-2.5 text-sm text-neutral-50 font-medium bg-red-700 rounded-lg transition duration-300">Excluir</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if (posts.length > 0) { %>
        <div class="py-4 px-3 overflow-hidden">
          <div class="pt-4 bg-gray-50 border border-gray-300 rounded-xl">
            <div class="px-6">
              <h3 class="font-heading pb-8 text-lg text-neutral-600 font-semibold">Todas as publicações</h3>
              <div class="w-full overflow-x-auto">
                <table class="w-full min-w-max">
                  <thead>
                    <tr class="text-left">
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Tipo de publicação</span></div>
                      </th>
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Conteúdo da publicação</span></div>
                      </th>
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Grupos/Páginas</span></div>
                      </th>
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Data da criação</span></div>
                      </th>
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Status</span></div>
                      </th>
                      <th class="p-0 border-b border-neutral-100">
                        <div class="pb-3.5"><span class="text-sm text-gray-400 font-medium">Ações</span></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% posts.forEach(post => { %>
                      <tr>
                        <td class="py-1.5 pr-4 border-b border-neutral-100">
                          <div class="flex items-center px-6">
                            <% if (post.typePost == "media") { %>
                              <div class="flex items-center gap-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke="#752A7A" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                </svg>                                  
                                <span class="text-sm font-medium">Mídia</span>
                              </div>
                            <% } else if (post.typePost == "text-link") { %>
                              <div class="flex items-center gap-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke="#752A7A" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                                </svg>                                     
                                <span class="text-sm font-medium">Link</span>
                              </div>
                            <% } %>
                          </div>
                        </td>
                        <td class="py-1.5 pr-4 border-b border-neutral-100">
                          <span class="text-sm"><%= post.content.slice(0, 50) %>...</span>
                        </td>
                        <td class="py-1.5 pr-4 border-b border-neutral-100">
                          <div class="flex items-center gap-x-0.5">
                            <% if (post.groups.length > 0) { %>
                              <img class="w-8 h-8 rounded-full" src="<%= post.groups[0].photo %>"></img>
                            <% } %>

                            <% if (post.pages.length > 0) { %>
                              <img class="w-8 h-8 rounded-full" src="<%= post.pages[0].photo %>"></img>
                            <% } %>
      
                            <% if (post.accountsInstagram.length > 0) { %>
                              <img class="w-8 h-8 rounded-full" src="<%= post.accountsInstagram[0].photo %>"></img>
                            <% } %>

                            <span class="text-sm text-gray-500 ml-2"><%= post.groups.length + post.pages.length + post.accountsInstagram.length %> no total</span>
                          </div>
                        </td>
                        <td class="py-1.5 pr-4 border-b border-neutral-100">
                          <span class="text-sm"><%= post.createdAtFormatted %></span>
                        </td>
                        <td class="py-1.5 pr-4 border-b border-neutral-100">
                          <div class="flex items-center gap-x-2 h-16">
                            <% if (post.isPublished) { %>
                              <div class="flex-none rounded-full p-1 text-green-500 bg-green-200">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <span class="text-sm leading-5 font-semibold text-green-600">Publicado</span>
                            <% } else { %>
                              <div class="flex-none rounded-full p-1 text-blue-500 bg-blue-200">
                                <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                              </div>
                              <span class="text-sm leading-5 font-semibold text-blue-600">Agendado - <%= post.scheduleDateFormatted %></span>
                            <% } %>
                          </div>
                        </td>
                        <td class="py-1.5 w-12 pr-4 border-b border-neutral-100">
                          <div class="flex">
                            <a class="bg-gray-100 py-1 px-1.5 rounded-l-lg shadow" href="/app/view-post/<%= post._id %>">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                              </svg>
                            </a>

                            <a class="bg-gray-100 py-1 px-1.5 shadow" href="/app/update-post/<%= post._id %>">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                              </svg>                            
                            </a>

                            <button onclick="openDeletePost('<%= post._id %>')" class="bg-gray-100 py-1 px-1.5 rounded-r-lg shadow">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-700">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                              </svg>                            
                            </button>
                          </div>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% } else { %>
        <div class="flex flex-col items-center py-44 h-full">
          <svg class="h-36 md:h-64" viewBox="0 0 924 463" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_387_288)">
            <path d="M244.347 220.484H242.625V173.305C242.625 169.72 241.919 166.169 240.546 162.856C239.174 159.543 237.163 156.533 234.627 153.998C232.092 151.462 229.082 149.451 225.769 148.079C222.456 146.706 218.905 146 215.319 146H115.366C108.124 146 101.179 148.877 96.0582 153.998C90.9374 159.118 88.0606 166.064 88.0605 173.305V432.129C88.0605 435.714 88.7668 439.265 90.139 442.578C91.5113 445.891 93.5226 448.901 96.0581 451.437C98.5936 453.972 101.604 455.983 104.917 457.356C108.229 458.728 111.78 459.434 115.366 459.434H215.319C222.561 459.434 229.507 456.557 234.627 451.437C239.748 446.316 242.625 439.371 242.625 432.129V254.066H244.347L244.347 220.484Z" fill="#E5E5E5"/>
            <path d="M216.422 153.104H203.375C203.975 154.575 204.204 156.171 204.042 157.751C203.879 159.332 203.331 160.848 202.445 162.167C201.559 163.485 200.362 164.566 198.96 165.313C197.558 166.06 195.994 166.451 194.405 166.451H137.143C135.554 166.451 133.99 166.06 132.588 165.313C131.186 164.566 129.989 163.485 129.103 162.167C128.217 160.848 127.669 159.332 127.506 157.751C127.344 156.171 127.573 154.575 128.173 153.104H115.987C110.579 153.104 105.392 155.252 101.568 159.076C97.7441 162.9 95.5957 168.087 95.5957 173.495V431.939C95.5957 434.617 96.1231 437.268 97.1479 439.742C98.1727 442.216 99.6747 444.464 101.568 446.358C103.462 448.251 105.71 449.753 108.184 450.778C110.658 451.803 113.309 452.33 115.987 452.33H216.422C219.1 452.33 221.751 451.803 224.225 450.778C226.699 449.753 228.947 448.251 230.841 446.358C232.734 444.464 234.236 442.216 235.261 439.742C236.286 437.268 236.813 434.617 236.813 431.939V173.495C236.813 170.817 236.286 168.166 235.261 165.692C234.236 163.218 232.734 160.97 230.841 159.076C228.947 157.183 226.699 155.681 224.225 154.656C221.751 153.631 219.1 153.104 216.422 153.104Z" fill="white"/>
            <path d="M213.626 261.812H123.23V322.797H213.626V261.812Z" fill="white"/>
            <path d="M213.937 323.109H122.918V261.5H213.937V323.109ZM123.541 322.485H213.314V262.123H123.541V322.485Z" fill="#3F3D56"/>
            <path d="M130.869 309.429H205.987V266.65H130.869V309.429Z" fill="#E6E6E6"/>
            <path d="M152.966 293.247C157.124 293.247 160.495 289.877 160.495 285.719C160.495 281.561 157.124 278.19 152.966 278.19C148.808 278.19 145.438 281.561 145.438 285.719C145.438 289.877 148.808 293.247 152.966 293.247Z" fill="#752a7a"/>
            <path d="M176.576 308.919H139.642C139.596 308.92 139.549 308.916 139.504 308.909L156.972 278.651C157.079 278.463 157.233 278.306 157.42 278.197C157.607 278.088 157.82 278.031 158.036 278.031C158.253 278.031 158.466 278.088 158.653 278.197C158.84 278.306 158.994 278.463 159.101 278.651L170.824 298.956L171.386 299.928L176.576 308.919Z" fill="#3F3D56"/>
            <path opacity="0.2" d="M176.577 308.92H163.967L170.157 299.928L170.603 299.28L170.826 298.956L171.387 299.928L176.577 308.92Z" fill="black"/>
            <path d="M197.14 308.919H165.195L171.386 299.928L171.831 299.28L179.897 287.562C180.04 287.383 180.219 287.236 180.422 287.131C180.625 287.025 180.848 286.964 181.077 286.95C181.305 286.937 181.534 286.971 181.748 287.052C181.962 287.132 182.157 287.257 182.32 287.417C182.362 287.463 182.401 287.512 182.436 287.562L197.14 308.919Z" fill="#3F3D56"/>
            <path d="M432.892 459.668H190.609C184.867 459.662 179.361 457.378 175.3 453.317C171.24 449.256 168.956 443.751 168.949 438.008V86.6433C168.956 80.9007 171.24 75.3952 175.3 71.3346C179.361 67.274 184.867 64.9899 190.609 64.9834H432.892C438.635 64.9899 444.14 67.274 448.201 71.3346C452.262 75.3952 454.546 80.9007 454.552 86.6433V438.008C454.546 443.751 452.262 449.256 448.201 453.317C444.14 457.378 438.635 459.662 432.892 459.668Z" fill="#E5E5E5"/>
            <path d="M433.317 445.849H190.181C188.411 445.847 186.713 445.143 185.462 443.891C184.21 442.639 183.506 440.942 183.504 439.172V85.4798C183.506 83.7096 184.21 82.0124 185.462 80.7607C186.713 79.509 188.411 78.8049 190.181 78.8029H433.317C435.087 78.8049 436.784 79.509 438.036 80.7607C439.288 82.0124 439.992 83.7096 439.994 85.4798V439.172C439.992 440.942 439.288 442.639 438.036 443.891C436.784 445.143 435.087 445.847 433.317 445.849Z" fill="white"/>
            <path d="M310.829 73.4592C311.847 73.4592 312.672 72.6343 312.672 71.6166C312.672 70.599 311.847 69.774 310.829 69.774C309.811 69.774 308.986 70.599 308.986 71.6166C308.986 72.6343 309.811 73.4592 310.829 73.4592Z" fill="white"/>
            <path d="M413.079 179.774H221.777V308.835H413.079V179.774Z" fill="white"/>
            <path d="M413.738 309.495H221.117V179.114H413.738V309.495ZM222.436 308.175H412.419V180.433H222.436V308.175Z" fill="#3F3D56"/>
            <path d="M237.943 280.544H396.913V190.012H237.943V280.544Z" fill="#E6E6E6"/>
            <path d="M284.708 246.3C293.508 246.3 300.641 239.167 300.641 230.367C300.641 221.568 293.508 214.434 284.708 214.434C275.909 214.434 268.775 221.568 268.775 230.367C268.775 239.167 275.909 246.3 284.708 246.3Z" fill="#752a7a"/>
            <path d="M334.673 279.466H256.511C256.413 279.468 256.315 279.46 256.219 279.443L293.186 215.411C293.411 215.012 293.739 214.681 294.135 214.45C294.53 214.219 294.98 214.097 295.438 214.097C295.897 214.097 296.347 214.219 296.742 214.45C297.138 214.681 297.466 215.012 297.691 215.411L322.501 258.382L323.689 260.438L334.673 279.466Z" fill="#3F3D56"/>
            <path opacity="0.2" d="M334.672 279.466H307.986L321.086 260.438L322.029 259.067L322.5 258.382L323.688 260.438L334.672 279.466Z" fill="black"/>
            <path d="M378.191 279.466H310.588L323.688 260.438L324.631 259.067L341.702 234.269C342.004 233.89 342.382 233.579 342.812 233.356C343.241 233.133 343.713 233.002 344.197 232.973C344.681 232.945 345.165 233.018 345.618 233.188C346.072 233.358 346.484 233.622 346.829 233.962C346.917 234.059 346.999 234.162 347.075 234.269L378.191 279.466Z" fill="#3F3D56"/>
            <path d="M673.436 455.496L661.172 450.332L652.759 388.853H540.725L531.606 450.081L520.633 455.567C520.109 455.829 519.688 456.261 519.439 456.793C519.19 457.324 519.128 457.924 519.263 458.496C519.398 459.067 519.722 459.576 520.182 459.94C520.642 460.304 521.212 460.502 521.799 460.502H672.425C673.027 460.502 673.61 460.294 674.075 459.913C674.541 459.533 674.86 459.002 674.979 458.413C675.098 457.823 675.009 457.21 674.728 456.679C674.447 456.147 673.99 455.729 673.436 455.496Z" fill="#E6E6E6"/>
            <path d="M872.527 397.032H322.184C319.296 397.026 316.529 395.874 314.49 393.83C312.45 391.786 311.305 389.016 311.305 386.129V308.523H883.406V386.129C883.405 389.016 882.26 391.786 880.221 393.83C878.181 395.874 875.414 397.026 872.527 397.032Z" fill="#CCCCCC"/>
            <path d="M883.981 345.202H310.803V13.1437C310.807 9.65891 312.193 6.31803 314.657 3.85397C317.121 1.38992 320.462 0.0039038 323.947 0H870.837C874.322 0.00389051 877.663 1.3899 880.127 3.85396C882.591 6.31801 883.977 9.6589 883.981 13.1437V345.202Z" fill="#E5E5E5"/>
            <path d="M849.749 321.101H345.037C342.351 321.098 339.775 320.029 337.876 318.13C335.976 316.23 334.907 313.654 334.904 310.968V34.2337C334.907 31.5471 335.976 28.9714 337.876 27.0717C339.775 25.1719 342.351 24.1033 345.037 24.1002H849.749C852.435 24.1033 855.011 25.1719 856.911 27.0717C858.81 28.9714 859.879 31.5471 859.882 34.2337V310.968C859.879 313.654 858.81 316.23 856.91 318.13C855.011 320.029 852.435 321.098 849.749 321.101Z" fill="white"/>
            <path d="M921.938 462.144H1.33402C1.0435 462.15 0.759099 462.06 0.525135 461.888C0.291172 461.715 0.120788 461.47 0.0405163 461.191C-0.00960142 461.001 -0.0154506 460.802 0.0234417 460.609C0.0623339 460.417 0.144928 460.235 0.264851 460.08C0.384773 459.924 0.538836 459.798 0.715184 459.711C0.891531 459.624 1.08546 459.579 1.28205 459.578H921.833C922.139 459.568 922.44 459.661 922.687 459.843C922.934 460.025 923.111 460.286 923.191 460.582C923.233 460.769 923.232 460.964 923.188 461.151C923.145 461.338 923.06 461.513 922.939 461.663C922.819 461.813 922.667 461.934 922.493 462.017C922.32 462.101 922.13 462.144 921.938 462.144Z" fill="#CCCCCC"/>
            <path d="M717.289 122.103C719.88 113.846 725.772 106.273 733.92 103.482C742.068 100.69 756.283 103.299 760.125 111.047C765.663 122.214 763.175 135.889 760.239 148.013C758.707 147.932 757.162 147.868 755.612 147.81L753.42 140.503V147.738C741.323 147.364 728.729 147.598 716.129 147.84C714.999 139.257 714.699 130.359 717.289 122.103Z" fill="#2F2E41"/>
            <path d="M828.442 436.728L818.266 440.992L796.975 403.772L811.994 397.478L828.442 436.728Z" fill="#9F616A"/>
            <path d="M835.171 445.504L802.359 459.255L802.185 458.84C800.766 455.452 800.75 451.64 802.141 448.242C803.533 444.843 806.217 442.136 809.604 440.716L829.645 432.318L835.171 445.504Z" fill="#2F2E41"/>
            <path d="M679.214 260.908C678.579 259.99 678.152 258.945 677.964 257.845C677.777 256.745 677.832 255.617 678.128 254.541C678.423 253.464 678.95 252.466 679.673 251.616C680.396 250.766 681.297 250.084 682.311 249.62L704.183 183.622L718.83 191.435L692.726 253.851C693.393 255.608 693.393 257.548 692.725 259.304C692.058 261.06 690.769 262.511 689.104 263.381C687.439 264.25 685.512 264.479 683.689 264.023C681.867 263.567 680.274 262.459 679.214 260.908Z" fill="#9F616A"/>
            <path d="M706.18 448.559H695.147L689.898 406.002H706.182L706.18 448.559Z" fill="#9F616A"/>
            <path d="M708.994 459.255L673.418 459.253V458.803C673.418 455.131 674.877 451.609 677.474 449.012C680.071 446.415 683.593 444.956 687.265 444.956L708.995 444.957L708.994 459.255Z" fill="#2F2E41"/>
            <path d="M750.42 206.503L752.92 213.003L752.42 219.503L704.42 213.503L705.92 208.003L711.42 201.503L750.42 206.503Z" fill="#9F616A"/>
            <path d="M734.95 148.01C744.601 148.01 752.425 140.186 752.425 130.535C752.425 120.883 744.601 113.059 734.95 113.059C725.298 113.059 717.475 120.883 717.475 130.535C717.475 140.186 725.298 148.01 734.95 148.01Z" fill="#9F616A"/>
            <path d="M716.418 160.503L726.418 154.503L746.418 152.503L764.095 156.503L763.918 189.003L752.918 213.003L705.918 208.003L703.918 201.464C703.918 201.464 690.918 184.003 704.918 174.003L716.418 160.503Z" fill="#752a7a"/>
            <path d="M718.918 162.003L716.418 160.503C716.418 160.503 702.918 163.003 699.918 171.003C696.918 179.003 693.918 215.003 693.918 215.003L706.418 216.487L710.918 187.003L718.918 162.003Z" fill="#752a7a"/>
            <path d="M752.918 217.003V228.109C752.918 228.109 765.918 245.003 758.918 258.003C758.918 258.003 773.918 286.003 774.918 296.003L788.918 342.003C788.918 342.003 823.918 377.003 820.918 402.003L822.918 410.003L799.918 420.003L794.918 413.003L755.918 346.003L722.918 285.003L716.918 357.003C716.918 357.003 720.918 413.003 709.918 419.003L708.918 428.003H685.575V419.448C685.575 419.448 676.918 389.003 681.918 366.003L679.918 269.003C679.918 269.003 688.918 228.003 699.918 221.003L703.918 211.003L752.918 217.003Z" fill="#2F2E41"/>
            <path d="M722.941 107.779C726.299 105.732 730.145 104.625 734.077 104.573C738.01 104.521 741.883 105.526 745.294 107.484C748.705 109.442 751.526 112.28 753.465 115.702C755.403 119.123 756.386 123.003 756.312 126.935C746.544 127.384 736.283 127.501 725.878 127.521L723.419 121.503L721.969 127.526C718.799 127.525 715.622 127.521 712.44 127.513C712.31 123.592 713.212 119.706 715.055 116.243C716.897 112.78 719.617 109.861 722.941 107.779Z" fill="#2F2E41"/>
            <path d="M694.589 109.909L459.328 169.737L499.691 328.456L734.952 268.628L694.589 109.909Z" fill="white"/>
            <path d="M735.968 269.233L499.084 329.473L458.309 169.132L695.192 108.892L735.968 269.233ZM500.294 327.438L733.932 268.023L693.982 110.927L460.344 170.342L500.294 327.438Z" fill="#3F3D56"/>
            <path d="M510.723 288.608L706.222 238.891L677.909 127.557L482.41 177.273L510.723 288.608Z" fill="#E6E6E6"/>
            <path d="M552.542 232.493C563.708 232.493 572.76 223.441 572.76 212.275C572.76 201.109 563.708 192.057 552.542 192.057C541.376 192.057 532.324 201.109 532.324 212.275C532.324 223.441 541.376 232.493 552.542 232.493Z" fill="#752a7a"/>
            <path d="M629.342 257.031L533.22 281.476C533.1 281.508 532.977 281.529 532.854 281.538L558.29 191.231C558.442 190.671 558.741 190.16 559.156 189.752C559.57 189.345 560.086 189.055 560.649 188.911C561.213 188.768 561.804 188.777 562.363 188.937C562.922 189.097 563.428 189.403 563.831 189.822L607.78 234.908L609.884 237.065L629.342 257.031Z" fill="#3F3D56"/>
            <path opacity="0.2" d="M629.341 257.031L596.523 265.377L606.682 237.879L607.413 235.899L607.779 234.908L609.883 237.065L629.341 257.031Z" fill="black"/>
            <path d="M682.863 243.421L599.725 264.563L609.884 237.065L610.615 235.084L623.853 199.25C624.106 198.689 624.473 198.188 624.932 197.779C625.391 197.371 625.931 197.063 626.517 196.876C627.102 196.689 627.721 196.628 628.331 196.695C628.942 196.763 629.532 196.959 630.063 197.269C630.202 197.361 630.335 197.461 630.461 197.569L682.863 243.421Z" fill="#3F3D56"/>
            <path d="M736.295 239.966C736.699 240.057 737.094 240.179 737.478 240.332L767.985 219.332L767.287 210.362L780.687 207.539L783.466 223.299C783.691 224.572 783.496 225.884 782.912 227.037C782.327 228.19 781.385 229.123 780.225 229.695L742.436 248.332C742.292 249.917 741.67 251.421 740.651 252.644C739.631 253.867 738.264 254.751 736.731 255.178C735.197 255.605 733.57 255.555 732.065 255.034C730.561 254.514 729.251 253.548 728.309 252.264C727.367 250.981 726.838 249.441 726.792 247.85C726.747 246.259 727.187 244.691 728.054 243.356C728.921 242.021 730.174 240.982 731.646 240.376C733.118 239.771 734.74 239.627 736.295 239.966Z" fill="#9F616A"/>
            <path d="M756.918 158.003L764.095 156.503C764.095 156.503 779.918 151.003 780.918 171.003L782.918 218.003L768.064 220.003L761.918 179.003L756.918 158.003Z" fill="#752a7a"/>
            </g>
            <defs>
            <clipPath id="clip0_387_288">
            <rect width="923.222" height="462.144" fill="white"/>
            </clipPath>
            </defs>
          </svg>                                    
          <h2 class="font-semibold text-xl mt-10">Nenhuma publicação encontrada.</h2>
          <p class="text-md text-gray-600">As publicações aparecerão nessa área.</p>
        </div>
      <% } %>
    </main>
  </div>

  <div class="fixed bottom-0 inset-x-0 border-t-orange">
    <%- include('../../partials/app/footer') %>
  </div>
</body>

<script src="/js/app/posts.js"></script>

</html>