<%- include('../../partials/head', {title: "Contas sociais" }) %>

    <body class="bg-gray-100">
        <%- include('../../partials/app/sidebar') %>

            <div class="xl:ml-64 pb-14">
                <%- include('../../partials/app/nav', {user: user, title: "Contas sociais" }) %>

                    <main class="py-6 px-12 fade-in">
                        <div class="fixed inset-0 z-50 flex items-center justify-center flex-wrap py-20 bg-neutral-500 bg-opacity-80 overflow-y-auto hidden"
                            id="popup-import-account-instagram">
                            <div class="container px-4 mx-auto">
                                <div id="select-accounts-area"
                                    class="pb-5 max-w-xl mx-auto bg-white rounded-xl shadow-3xl">
                                    <div class="px-5 pb-3.5">
                                        <div class="flex flex-wrap items-center justify-between border-b">
                                            <div class="w-auto">
                                                <h3 class="font-heading pt-4 pb-2.5 text-lg font-semibold">Selecionar
                                                    contas do Instagram</h3>
                                            </div>
                                            <div class="w-auto">
                                                <button onclick="closeImportAccountInstagram()"
                                                    class="text-neutral-300 hover:text-neutral-400">
                                                    <svg width="19" height="18" viewbox="0 0 19 18" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.46967 12.9697C4.17678 13.2626 4.17678 13.7374 4.46967 14.0303C4.76256 14.3232 5.23744 14.3232 5.53033 14.0303L4.46967 12.9697ZM14.5303 5.03033C14.8232 4.73744 14.8232 4.26256 14.5303 3.96967C14.2374 3.67678 13.7626 3.67678 13.4697 3.96967L14.5303 5.03033ZM5.53033 3.96967C5.23744 3.67678 4.76256 3.67678 4.46967 3.96967C4.17678 4.26256 4.17678 4.73744 4.46967 5.03033L5.53033 3.96967ZM13.4697 14.0303C13.7626 14.3232 14.2374 14.3232 14.5303 14.0303C14.8232 13.7374 14.8232 13.2626 14.5303 12.9697L13.4697 14.0303ZM5.53033 14.0303L14.5303 5.03033L13.4697 3.96967L4.46967 12.9697L5.53033 14.0303ZM4.46967 5.03033L13.4697 14.0303L14.5303 12.9697L5.53033 3.96967L4.46967 5.03033Z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="h-96 overflow-y-auto px-5" id="list-accounts-instagram" role="listbox">
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 md:gap-x-6">
                            <!-- CODDING: tabela -->
                            <div class="col-span-3">
                                <% if (user.accountsFb.length> 0 || user.accountsIg.length > 0) { %>
                                    <div class="mt-3 overflow-x-auto shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
                                        <table class="min-w-full divide-y divide-gray-300 shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
                                            <thead class="bg-primary">
                                                <tr class="">
                                                    <th scope="col"
                                                        class="rounded-tl-[10px] py-3.5 pl-4 pr-3 text-left text-sm text-nowrap font-bold text-white sm:pl-6 inter">
                                                        Foto</th>
                                                    <th scope="col"
                                                        class="py-3.5 pl-4 pr-3 text-left text-sm text-nowrap font-bold text-white sm:pl-6 inter">
                                                        Nome da conta</th>
                                                    <th scope="col"
                                                        class="py-3.5 pl-4 pr-3 text-left text-sm text-nowrap font-bold text-white sm:pl-6 inter">
                                                        Plataforma</th>
                                                    <th scope="col"
                                                        class="py-3.5 pl-4 pr-3 text-left text-sm text-nowrap font-bold text-white sm:pl-6 inter">
                                                        Data de cadastro</th>
                                                    <th scope="col"
                                                        class="rounded-tr-[10px] py-3.5 pl-4 pr-3 text-left text-sm text-nowrap font-bold text-white sm:pl-6 inter">
                                                        Ações</th>
                                                </tr>
                                            </thead>

                                            <tbody class="divide-y divide-gray-200 bg-white">
                                                <% user.accountsFb.forEach(function(item) { %>
                                                    <tr>
                                                        <td
                                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                            <img class="min-w-[40px] min-h-[40px] max-w-[40px] max-h-[40px] rounded-full"
                                                                src="<%= item.photo %>" alt="img">
                                                        </td>
                                                        <td
                                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                            <%= item.name %>
                                                        </td>
                                                        <td style="color: #1877F2;"
                                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                            <div class="flex flex-row justify-start items-center space-x-[10px]">
                                                                <i class="fa-brands fa-facebook text-xl text-primary"></i>
                                                                <p class="text-primary"><%= item.platform %></p>
                                                            </div>
                                                        </td>
                                                        <td
                                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                            <%= item.date %>
                                                        </td>
                                                        <td
                                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                            <div class="flex">
                                                                <button
                                                                    onclick="removeAccount('<%= item.idAccount %>', '<%= item.platform %>')"
                                                                    class="shadow-[0_2px_8px_0_rgba(99,99,99,0.2)] bg-red-500 rounded-[10px] px-[16px] py-[8px] flex items-center rounded-r-lg">
                                                                    <i class="fa-solid fa-trash text-sm text-white"></i>
                                                                    <p class="text-white ml-2">Remover</p>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>

                                                        <% user.accountsIg.forEach(function(item) { %>
                                                            <tr>
                                                                <td
                                                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                                    <img class="h-10 rounded-full"
                                                                        src="<%= item.photo %>" alt="img">
                                                                </td>
                                                                <td
                                                                    class="whitespace-nowrap flex flex-col py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                    <span>
                                                                        <%= item.name %>
                                                                    </span>
                                                                    <span class="text-xs">@<%= item.username
                                                                            %></span>
                                                                </td>
                                                                <td style="color: #C21F70;"
                                                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                    <%= item.platform %>
                                                                </td>
                                                                <td
                                                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                    <%= item.date %>
                                                                </td>
                                                                <td
                                                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                    <div class="flex">
                                                                        <button
                                                                            onclick="removeAccount('<%= item.idAccount %>', '<%= item.platform %>')"
                                                                            class="flex items-center rounded-r-lg">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                fill="none"
                                                                                viewBox="0 0 24 24"
                                                                                stroke-width="1.5"
                                                                                stroke="currentColor"
                                                                                class="w-6 h-6 text-red-700">
                                                                                <path stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                                            </svg>
                                                                            <p class="text-red-700 ml-2">
                                                                                Remover</p>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="hidden mt-3 flow-root">
                                        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="inline-block min-w-full py-[16px] align-middle sm:px-6 lg:px-8 ">
                                                <div
                                                    class="overflow-hidden ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                                    <table class="min-w-full divide-y divide-gray-300 shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
                                                        <thead class="bg-[#666666]">
                                                            <tr>
                                                                <th scope="col"
                                                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-white sm:pl-6 inter">
                                                                    Foto</th>
                                                                <th scope="col"
                                                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-white sm:pl-6 inter">
                                                                    Nome da conta</th>
                                                                <th scope="col"
                                                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-white sm:pl-6 inter">
                                                                    Plataforma</th>
                                                                <th scope="col"
                                                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-white sm:pl-6 inter">
                                                                    Data de cadastro</th>
                                                                <th scope="col"
                                                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-bold text-white sm:pl-6 inter">
                                                                    Ações</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody class="divide-y divide-gray-200 bg-white">
                                                            <% user.accountsFb.forEach(function(item) { %>
                                                                <tr>
                                                                    <td
                                                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                                        <img class="h-10 rounded-full"
                                                                            src="<%= item.photo %>" alt="img">
                                                                    </td>
                                                                    <td
                                                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                                        <%= item.name %>
                                                                    </td>
                                                                    <td style="color: #1877F2;"
                                                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                                        <div class="flex flex-row justify-start items-center space-x-[10px]">
                                                                            <i class="fa-brands fa-facebook text-xl"></i>
                                                                            <p><%= item.platform %></p>
                                                                        </div>
                                                                    </td>
                                                                    <td
                                                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                                        <%= item.date %>
                                                                    </td>
                                                                    <td
                                                                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold inter text-gray-900 sm:pl-6">
                                                                        <div class="flex">
                                                                            <button
                                                                                onclick="removeAccount('<%= item.idAccount %>', '<%= item.platform %>')"
                                                                                class="flex items-center rounded-r-lg">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    fill="none" viewBox="0 0 24 24"
                                                                                    stroke-width="1.5"
                                                                                    stroke="currentColor"
                                                                                    class="w-6 h-6 text-red-700">
                                                                                    <path stroke-linecap="round"
                                                                                        stroke-linejoin="round"
                                                                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                                                </svg>
                                                                                <p class="text-red-700 ml-2">Remover</p>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>

                                                                    <% user.accountsIg.forEach(function(item) { %>
                                                                        <tr>
                                                                            <td
                                                                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                                                <img class="h-10 rounded-full"
                                                                                    src="<%= item.photo %>" alt="img">
                                                                            </td>
                                                                            <td
                                                                                class="whitespace-nowrap flex flex-col py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                                <span>
                                                                                    <%= item.name %>
                                                                                </span>
                                                                                <span class="text-xs">@<%= item.username
                                                                                        %></span>
                                                                            </td>
                                                                            <td style="color: #C21F70;"
                                                                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                                <%= item.platform %>
                                                                            </td>
                                                                            <td
                                                                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                                <%= item.date %>
                                                                            </td>
                                                                            <td
                                                                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium inter text-gray-900 sm:pl-6">
                                                                                <div class="flex">
                                                                                    <button
                                                                                        onclick="removeAccount('<%= item.idAccount %>', '<%= item.platform %>')"
                                                                                        class="flex items-center rounded-r-lg">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                            fill="none"
                                                                                            viewBox="0 0 24 24"
                                                                                            stroke-width="1.5"
                                                                                            stroke="currentColor"
                                                                                            class="w-6 h-6 text-red-700">
                                                                                            <path stroke-linecap="round"
                                                                                                stroke-linejoin="round"
                                                                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                                                        </svg>
                                                                                        <p class="text-red-700 ml-2">
                                                                                            Remover</p>
                                                                                    </button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div
                                            class="flex flex-col justify-center items-center px-4 sm:px-2 mt-2 col-span-3 sm:mt-20 lg:mt-40">
                                           
                                            <h2 class="text-lg lg:text-xl font-semibold mt-10 text-center">Importe suas
                                                contas do <span class="font-bold"
                                                    style="color: #1877F2;">Facebook</span></h2>
                                            <p class="text-md text-center">Você não possui nenhuma conta importada.</p>
                                        </div>
                                        <% } %>
                            </div>

                            <div class="col-span-1 mt-3">
                                <article class="bg-white p-[16px] rounded-[10px] shadow-[0_7px_29px_0_rgba(100,100,111,0.2)]">
                                    <div class="flex flex-col justify-center items-start space-y-[42px]">
                                        <div class="flex flex-col justify-center items-start space-y-[10px]">
                                            <!-- CODDING: title-->
                                            <div class="flex flex-col justify-center items-start">
                                                <h3 class="inter text-primary font-black text-base/none">Informações disponíveis</h3>
                                                <p class="inter text-primary font-light text-base">Contas do Facebook</p>
                                            </div>

                                            <!-- CODDING: contas -->
                                            <div class="flex flex-col justify-center items-start space-y-[5px]">
                                                <div class="flex flex-row justify-center items-center space-x-[10px]">
                                                    <i class="fa-solid fa-user text-sm text-white bg-primary rounded-[10px] shadow-[0_3px_8px_rgba(0,0,0,0.24)] min-w-[40px] min-h-[40px] flex justify-center items-center"></i>
                                                    <p class="inter text-md mt-2 font-bold leading-tight">Contas importadas: <span
                                                            class="text-primary font-normal">
                                                            <%= user.accountsFb.length + user.accountsIg.length %> importadas
                                                        </span></p>
                                                </div>
                                                <% if (!user.isAdmin) { %>
                                                    <div class="flex flex-row justify-center items-center space-x-[10px]">
                                                        <i class="fa-solid fa-users text-sm text-white bg-primary rounded-[10px] shadow-[0_3px_8px_rgba(0,0,0,0.24)] min-w-[40px] min-h-[40px] flex justify-center items-center"></i>
                                                        <p class="inter text-md mt-2 font-bold leading-tight">Contas restantes: <span
                                                            class="text-primary font-normal">
                                                            <%= plan.quantityAccounts - (user.accountsFb.length +
                                                                user.accountsIg.length) %> restantes
                                                        </span></p>
                                                    </div>
                                                <% } else { %>
                                                    <div class="flex flex-row justify-center items-center space-x-[10px]">
                                                        <i class="fa-solid fa-users text-sm text-white bg-primary rounded-[10px] shadow-[0_3px_8px_rgba(0,0,0,0.24)] min-w-[40px] min-h-[40px] flex justify-center items-center"></i>
                                                        <p class="inter text-md mt-2 font-bold leading-tight">Contas restantes: <span
                                                            class="text-primary font-normal">Ilimitado</span></p>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>

                                        <!-- CODDING: adicionar conta -->
                                        <div class="w-full">
                                            <a href="/app/login-facebook" target="_blank"
                                                class=" shadow-[0_3px_8px_rgba(0,0,0,0.24)] bg-primary w-full flex items-center justify-center rounded-[10px] px-[16px] py-[12px] space-x-[10px]">
                                                <div >
                                                    <i class="fa-brands fa-facebook text-white text-2xl"></i>
                                                </div>
                                                <div class="flex flex-col justify-center items-start">
                                                    <p class="text-white font-semibold text-md leading-none">Adicionar Conta</p>
                                                    <p class="text-white font-light text-md leading-none">Facebook</p>
                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </article>

                               

                            </div>
                        </div>
                    </main>
            </div>

            <div class="fixed bottom-0 inset-x-0 border-t-orange">
                <%- include('../../partials/app/footer') %>
            </div>
    </body>

    <script src="/js/app/social-accounts.js"></script>

    </html>